<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="max-w-full">
		<header class="bg-gray-800 container h-15 flex max-w-full p-6 space-x-6">
			
		 <ul class="flex space-x-10 justify-end text-white">
			<li><a href="/" class="text-6xl pr-9">KINSTA</a></li>

			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 scroll-mr-0">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V13.5Zm0 2.25h.008v.008H8.25v-.008Zm0 2.25h.008v.008H8.25V18Zm2.498-6.75h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V13.5Zm0 2.25h.007v.008h-.007v-.008Zm0 2.25h.007v.008h-.007V18Zm2.504-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5Zm0 2.25h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V18Zm2.498-6.75h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V13.5ZM8.25 6h7.5v2.25h-7.5V6ZM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0 0 12 2.25Z" />
			  </svg>
			  
			<li><a  class="bg-gray-500 rounded-md px-4 hover:bg-gray-600 cursor-pointer ml-0">BUILDINGS</a></li>

					
			

			
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
				  </svg>
	
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
				  </svg>
	
				<li><a href="">DOCS</a></li>

				<li><a href=""><span class="bg-purple-600 py-2 px-3 rounded-md">K</span> Kinsta User</a></li>
		 </ul>
			
			  
		</header>

		<div class="flex pt-5 pl-8 pr-0">
            <div>
				<menu>
					<ul class="font-bold text-gray-700 pt-3 space-y-3">
						<li><a href="/dashboard" class=" hover:bg-gray-600 hover:text-black rounded-md px-4 py-2">Dashboard</a></li>
						<li><a href="/applications" class=" hover:bg-gray-600 hover:text-black rounded-md px-4 py-2">Applications</a></li>
						<li><a href="/wordpresssites" class=" hover:bg-gray-600 hover:text-black rounded-md px-4 py-2">WordPress Sites</a></li>
						<li><a href="/dns" class=" hover:bg-gray-600 hover:text-black rounded-md px-4 py-2">DNS</a></li>
						
					</ul>
				</menu>
			</div>

			<div class="pt-5 space-y-6 pl-10 pr-7">
               <div>
				 <h1 class="font-bold text-2xl pb-5 ">Aplications</h1>

				 <p class="text-purple-600 font-bold text-4xl">---------------</p>
				 <p class="pb-5">You have 20 USD credits available</p>

				 <p class="font-bold text-2xl pb-5">Add your first service</p>

				 <p class="pb-5">As soon as you reate your frist application or database. <br>  It will show up here in a list</p>

				 <button class="text-white bg-purple-800 hover:bg-purple-500 rounded-lg pyt-4 px-4">Add service</button>


			   </div>

			   
			</div>

			<div>
				<img src="https://png.pngtree.com/png-clipart/20210309/original/pngtree-mandala-with-purple-gradient-png-image_5888213.png" class="w-80" alt="">
			</div>
		</div>

		
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>